body {
   background-image: url(imgs/fundo.png);
   background-size: cover;
   font-family: Arial, Helvetica, sans-serif;
}

.title {
   display: flex;
   flex-direction: row;
   justify-content: center;
   color: #1a4a1e;
   align-items: center;
   height: 180px;
}

.container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   gap: 50px;
}

.box h2 {
   color: #1a4a1e;
   padding: 15px;
}

.box span {
   display: flex;
   color: #0d0d0d;
   padding: 20px;
   flex-direction: column;
   align-items: end;
   margin-top: 8%;
   font-size: 22px;
}

.box {
   background-color: white;
   border: solid 2px;
   border-radius: 20px;
   border-color: #828282;
   height: 500px;
   width: 400px;
   text-align: center;
}

.logo {
   height: 100px;
   width: 100px;
   margin: auto;
   padding: 20px;
}


.logo img {
   height: 100%;
   width: 100%;
}