body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

.container_main {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #070c0f;
    padding: 0;
}

/*    Começo TÍTULO    */

.titulo_calc {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_calc h2 {
    margin: auto;
}
.titulo_calc h4 {
    margin: auto;
}

/*    Fim TÍTULO    */



/*
    Começo ENTRADA DE VALORES para o Script
*/

.container_inOUt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8px;

    max-width: 100%;
    height: 65vh;
    padding: 4px;
    background-color: whitesmoke;
}


.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;

    width: 35%;
    height: 100%;
    margin: auto;

    border-radius: 12px;
    border: solid 2px #458d32;
}

.input_field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.input_field label {
    font-size: 16px;
}

.input_field input {
    border: solid 1px #458d32;
    height: 30px;
    width: 100%;


}

.button button {
    font-size: 22px;
    background-color: #458d32;
    border-radius: 5px;
    border: solid 2.5px whitesmoke;
    color: whitesmoke;
    transition: 0.24s ease-in-out;
}

.button button:hover {
    background-color: #1a4a1e;
    border-color: #fefff2c6;
    color: #fefff2c6;
}

/*
    Fim ENTRADA DE VALORES
*/


/*
    Começo RETORNO MENSAGEM da função no Script
*/

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    width: 65%;
    height: 100%;
    margin: auto;

    border-radius: 12px;
    color: #fefff2;
    background-color: #1a4a1e;
    border: 1.5px solid;

    overflow: scroll;
}



/*   COMEÇO DIV COM RETORNO DO CÁLCULO   */
.div_msg {
    height: 80%;
    margin: auto;
}

.div_msg h4 {
    margin: 0 auto;
    text-align: center;
}

.div_msg h5 {
    margin: 0 auto;
    text-align: center;
}

.div_msg .retorno_aumento_fatura {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #ffde4e;
}


.container_retorno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    gap: 16px;
    padding: 4px;
    margin: 24px auto;
    height: 85%;
    width: 90%;
    background-color: #628952;
    border-radius: 14px;
}

.container_grade_metricas {
    display: flex;
    flex-direction: column;
    gap: 4px;

    height: 100%;
}

.container_grade_metricas .cabecalho_retorno {
    font-size: 20px;
}

.container_estimativas {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;

    height: 100%;
    gap: 3%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    font-size: 18px;
    gap: 8px;
}

.box .valoresSolucaoPre{
    margin: 0 auto;
    color: #ffde4e;
    background-color: rgba(220, 20, 60, 0.459);
}

.box .valoresSolucaoPos{
    margin: 0 auto;
    color: #ffde4e;
    background-color: #ffdf4e79;
}


/*
    Fim RETORNO MENSAGEM
*/


/*   COMEÇO DIV COM IMG EXPLICATIVA DA SIMULAÇÃO   */

.txt_explicacao {
    height: 15%;
}

.txt_explicacao button.ocultaMostra {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-size: 22px;
    transition: 0.3s ease-in-out;
}

.txt_explicacao button.ocultaMostra:hover {
    color: rgb(170, 169, 169);
}



.txt_explicacao p {
    margin: 16px 4px 0px 4px;
    text-align: center;
}

.desc {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.desc .active {
    max-width: 100%;
}

.desc .active img {
    max-height: 90%;
    width: fit-content;


}



/*   FIM DIV COM IMG EXPLICATIVA DA SIMULAÇÃO   */